<div style="position: absolute; background-color: #268744; width: 100%; height: 131%; top: 13.2%; "></div>
<body>
<div [ngClass]="{container1: !contentHidden}" [ngClass]="{container2: contentHidden}" class="container sizeModify" >

    <div class="leftbox" >
      <nav >
        <a id="notarize" (click)="contentHidden = false"><i style="font-size: 180%;" class="fa fa-book"></i></a>
        <a id="search" (click)="contentHidden = true" ><i style="font-size: 180%;" class="fa fa-search"></i></a>
      </nav>
    </div>
    <div class="rightbox">
      <div [ngClass]="{hidden: contentHidden}" class="notarize">
        <h1>Notarização </h1>
     
        <div class="br-input">
          <label for="cpf-id1">Nome do campo de identificação do documento </label>

          <input id="cpf-id1"  [(ngModel)]="docMetadada"  type="text" placeholder="Ex.: 0151140">
        </div>
        
        <div class="br-input">
          <label for="cpf-id1">Valor do campo de identificação do documento </label>
          <input id="cpf-id1" [(ngModel)]="docId" type="text" placeholder="Ex.: 29f96ce13f014dc33397d0b53fa478f1838617bbd2aff426028f08e6612fa53e">
        </div>

        <!-- 
        https://stackoverflow.com/questions/39132451/can-i-use-ng2-file-upload-with-button-instead-of-a-file-input
        -->
        
        <label for="btArquivo">Upload do documento</label>
       <!----> <div class="row" style="margin-right: 0px; margin-left: 0px">
        <div class="br-upload col-2"style=" margin-bottom:50px;" >
          <button id="btArquivo" style=" margin-bottom:15px;position: absolute; " (click)="fileInput.click()" class="btn btn-default"><i class="fas fa-upload"></i>Upload</button>
          <span style="visibility: hidden; position: absolute; overflow: hidden; width: 0px; height:0px;border:none;margin:0; padding:0">
            <input type="file" id="arquivo" #fileInput ng2FileSelect [uploader]="this.fileHandleService.uploader" (change)="this.fileHandleService.processaArquivo($event)"/>
          </span>

          <div class="upload-list"></div>
        </div>
      
         <div class="br-input col-8 " style="word-break: break-all; margin-left: 15px; margin-right: 15px;" *ngIf="docHash">
           <!--<div class="br-input col-4" style="word-break: break-all;" *ngIf="docHash">-->
          <label  for="cpf-id1">Hash do Comprovante: {{docHash}}</label>
        </div>
        
        <!----></div>
        <div class="row"  style=" margin-top: 20px;">
        <button (click)="verificaEstaNotarizado()" style="height: 10%; width: 25%; margin-left: 6%; margin-bottom: 7%;  font-size: 21px;" class="br-button primary" type="button">Checar
        </button>

        <button (click)="notarizar()" style="height: 12%; width: 35%;  margin-bottom: 7%; margin-left: 5%;  font-size: 21px;" class="br-button primary" type="button">Notarizar
        </button>
        </div>
        
      </div>  
      
      <div [ngClass]="{hidden: !contentHidden}" class="search ">
        <h1> Consulta de versões </h1>
        
        <div class="br-input">
          <label for="cpf-id1">CNPJ do Notarizador </label>
          <input  id="cpf-id1"[(ngModel)]="cnpjParaBusca"  type="text" placeholder="Ex.: 0151140" >
        </div>
         <!--[textMask]="{mask: maskCnpj}-->
        <div  class="br-input">
          <label for="cpf-id1">Nome do campo de identificação do documento </label>
          <input id="cpf-id1" [(ngModel)]="docMetadada" type="text" placeholder="Ex.: 0151140">
        </div>
         
        <div  class="br-input">
          <label for="cpf-id1">Valor do campo de identificação do documento </label>
          <input id="cpf-id1" type="text" [(ngModel)]="docId" placeholder="Ex.: 0151140">
        </div>

        <button (click)="buscarVersoes()" style="height: 14%; width: 35%;  margin-top: 5%; margin-left: 20%;  font-size: 21px;" class="br-button primary" type="button">Buscar
        </button>
      </div>
    </div>
    
  </div>
</body>
